{% extends 'base.html' %}

{% block additional_styles %}
label {
  display: block;
}
{% endblock %}

{% block content %}
  <h2>Register a new account</h2>
  <form action="/register" method="POST">
    <label for="email">
      Email:
      <input type="email" name="email" />
    </label>
    <label for="password">
      Password:
      <input type="password" name="password" />
    </label>
    <label for="verify-pass">
      Password again:
      <input type="password" name="verify-pass" />
    </label>
    <input type="submit" />
  </form>
{% endblock %}
